venv
.DS_Store
.idea
.gcloudignore
.git
.venv
__pycache__/
/setup.cfg
.ipynb_checkpoints
*.ipynb
.env
Brewfile.lock.json
*.pdf

# Terraform
.terraform
**/.terraform/*
**/terraform/terraform.tfstate.d
terraform.tfstate.backup
terraform.tfstate

# Data
*.csv
*.xlsx
*.xls
*.pkl
*.parquet
*.zip
*.ods

# outputs
*.pdf
*.jpg
*.pptx
*.ppt
*.docx

# Rendered presentations
*.html
*_files/

# Docker cache
.build-cache



**/node_modules/

**/out/
**/build/
**/package/
**/packages/
**/layers/

.mypy_cache
.ruff_cache
.coverage